:root {
    --primeColore:black;
    --secondairyColore:chocolate;
}

body {
    background-color:var(--primeColore);
    font-size: large;
    color: white;
    text-align: center;
    margin: 0%;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    background: rgba(0, 0, 0, 0.541);

    padding: 16px;
    width: auto;
    height: 100px;
    /* the hight on the seperate html documents needs changing to*/

    box-sizing: border-box; 
    /*makes sure the height of the header INCLUDES the padding*/

    box-shadow: 0 4px 20px rgba(255, 140, 0, 0.5);
    backdrop-filter: blur(80px);

    z-index: 1000;

    /*aranging items in the header*/
    display: flex;
    align-items: center; /* vertical */
    justify-content: space-between; /* horizontal */
    gap: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    margin: 0px;
}

h1 { 
    text-align: left;
}

h2 {
    color: var(--secondairyColore);
    font-size: clamp(2.5rem,5vw,15rem);
}

h3 {
    font-size: 40px;
    color: rgb(130, 255, 243);
    font-style: italic;
    padding-top: 2cm;
    font: bolder;
}

h4 {
    font-size: x-large;
    color: var(--secondairyColore);
    font-style: italic;
    text-align: center;
    margin-bottom: 0%;
}

p {
    font-size: clamp(1.5rem,2vw,2.5rem);
    color: aliceblue;
    font-style: italic;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

a {
    font-size: 34px;
    color: var(--secondairyColore);
    text-align: center;

        a:hover {
            color: rgb(164, 69, 1);
        }
}

section > cite {
    font-size: clamp(2rem,4vw,10rem);
    color: rgb(123, 204, 255);
}

div a {
    text-decoration: none;
    color: var(--secondairyColore);
}

.title {
    color: darkorange;
    font-size: xx-large;
    text-align: center;
    height: 600px;

    display: flex;
    justify-content: center; /* horizontal */

    background: url('bg3.jpg') center/cover no-repeat;

    mask: linear-gradient(black, black, transparent);
    backdrop-filter: blur(8px);
    align-items: center;

        .title-text {
        font-family: italic;
        font-size: clamp(3rem,5vw,15rem);

        /*animation*/
        animation: slideIn 0.6s ease-out forwards;
        align-items: center;
        color: white;
        }
}

.logo-text {
    font-family: italic;
    color: var(--secondairyColore);
    align-items: center;
    font-size: clamp(1.5rem,2.5vw,10rem);
}

.menu {
    display: flex;
    gap: 24px;
    flex-direction: row;
    padding: 14px;
    align-items: center;

        .menu-item {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.801);
        align-items: center;
        font-size:clamp(1.5rem,2vw,6rem);
        }
}

.word {
    font-size: 30px;
    color: lightskyblue;
    margin: 10px;
}

.card-desc {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.747);
}

.line {
    padding-left: 5cm;
    width: 500px;
    height: 5px;
    background-color: darkorange;
    border-radius: 2%;
}

.line1 {
    width: fill;
    height: 10px;
    background-color: darkorange;
}

.grid {
    display: flex;
    flex: 1 1 200px;
    background-color: var(--primeColore);
    min-width: 150px;
    min-height: 90px;

        
}

.grid2{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        }

.str-btn {
    box-sizing: border-box;
    border: 2px solid chocolate;
    background-color:var(--primeColore);
    border-radius: 0px;
    font-size: 30px;
    font: italic;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.e {padding:20px;}

.str-btn:hover {
    background-color: var(--secondairyColore);
    color: var(--primeColore);
}

.std-sec {
    padding: 24px;
    flex-direction: column;
    gap: 16px;
}

.sec2 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

/*Animations*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}